form
    script(src=`${url}`)
    script(src='/socket.io/socket.io.js')
    input(type='hidden', name='socket_id', value=`${socketId}`)
script.
    (function() {
        var socket = io();
        var form  = document.forms[0];
    
        form.onsubmit = e => {
            e.preventDefault();
            
            var formData = new FormData(form);
            var json = {};

            for (var [key, value] of formData.entries()) { 
                json[key] = value;
            }

            socket.emit('captcha solved', json);

            // Remove iframe
            var socketId = document.querySelector('input[name=socket_id]').value;
            parent.document.getElementById(`frame${socketId}`).remove();
        };
    })();