doctype html
html
    head
        title Client
        style.
            #container {
                display: grid;
                grid-template-columns: 33.33% 33.33% 33.33%;
                grid-template-rows: auto;
                grid-row-gap: 15px;
            }
            iframe {
                width: 100%;
                height: 250px;
            }
    body
        div#container
        script(src='/socket.io/socket.io.js')
        script.
            var socket = io();

            (function() {
                var containerElem = document.getElementById('container');

                socket.on('captcha new', function (data) {
                    let apiKey = data.apiKey;
                    let frame = document.createElement('iframe');
                    frame.setAttribute('id', `frame${data.socketId}`);
                    frame.src = `/iframe-captcha/${data.socketId}/${data.apiKey}`;

                    containerElem.append(frame);
                });
            })();